# Ignoring the Dataset Directory

Dataset/

# Ignoring the pycache directory

__pycache__/

# Ignoring the wandb directory

wandb/


# Ignoring Toy RNN Examples and Datasets

data/
data.zip
toy.py
# Model Dir

Model_Dir/

